<% @notes.each do |note| %>
  <p><%= note.title %>
  <%= note.text %>
  <%= link_to note.user.name, User.find(note.user.id) %></p>
<% end %>
<p><%= link_to("Add new note", {:action => 'new'}, :class => 'action new') %></p>
